.createEventForm {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 2rem;
    /* width: 30rem; */
}

.createEventForm div {
    margin: .5rem;
}

.createEventForm div * {
    margin: .2rem;
}

.eventDescriptionContainer {
    display: flex;
}

.eventDescriptionContainer label {
    align-self: center;
}

.eventDescription {
    resize: none;
}

.submitEventButton {
    padding: .5rem 1rem;
    width: 10rem;
    align-self: center;
    margin-top: 2rem;
}