.landingHeader nav,
.landingHeader ul {
    display: flex;
    justify-content: space-between;
}

.landingHeader nav {
    margin: 0 auto;
    padding: 1.5rem;
}

.landingHeader ul li {
    text-decoration: none;
    list-style-type: none;
    margin-left: 1rem;
}