.landingHeader nav,
.landingHeader ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.landingHeader nav {
    padding: 1.5rem;
    display: flex;
    align-items: center;
}


.landingHeader ul li {
    list-style-type: none;
    margin-left: 1rem;
    cursor: pointer;
    color: white;
}

.landingHeader ul li a {
    text-decoration: none;
    color: white;
}

.linkActive {
    border-bottom: 1px solid white;
}