.landingMain {
    min-width: 90%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.megatron {
    background-image: url('../../public/james-barr-medium.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    mix-blend-mode: hard-light
}

.megatron h1 {
    font-size: 4rem;
    margin-top: 5rem;
}

.megatron p {
    width: 60%;
    font-size: 1.4rem;
    margin-top: 1rem;
    text-align: center;
}

.megatronButton {
    margin-top: 1.5rem;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    font-size: 1.1rem;
}

.megatronButton:hover {
    transform: scale(1.05);

}



.landingMain section {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    padding: 5rem;
    background-color: #1a1a1a;
    align-items: center;

}

.sectionIcons {
    width: 10%;
    height: auto;
    margin-bottom: 1rem;
}

.landingMain section h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.landingMain section p {
    font-size: 1.2rem;
}

.landingMain section a {
    margin-top: 1rem;
}

.landingMain section button {
    padding: .5rem 2rem;
    cursor: pointer;
}


.landingMain .secondSection {
    background-color: #333333;
}

.contactSection form {
    display: flex;
    flex-flow: column nowrap;
    min-width: 80%;
    align-items: center;
}

.contactSection input,
.contactSection textarea {
    margin: 1rem 0rem;
    color: wheat;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    width: 150%;
}

.contactSection textarea {
    resize: none;
}


.contactSection .FAQLink {
    font-style: italic;
    text-decoration: none;
    color: white;
    margin-top: 3rem;
}