.dashHeader nav,
.dashHeader ul {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
}

.dashHeader nav {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.listParent li {
    list-style-type: none;
    cursor: pointer;
    margin-left: 1rem;

}

.listParent li a {
    text-decoration: none;
    color: white;
}

.linkActive {
    border-bottom: 1px solid white;
}